// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.book-item {
  height: 120px;
  margin: 40px;
  border-style: groove; /* Стиль рамки вокруг параграфа */
  border-width: 2px 2px 2px 2px; /* Толщина границы */
  padding: 1px; /* Поля вокруг текста */
  text-align: center;
}

.book-item img {
  height: 120px;
  width: 100px;
  margin: 1px;
}
